* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.all {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: #f4f4f4;
}

.main-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 30vh;
	width: 30vw;
	border: 2px solid black;
	border-radius: 7px;
	align-items: center;
	margin: 10px;
	padding: 10px;
	background-color: lightyellow;
	margin-top: -70px;
}
.secondary-container {
	border: 2px solid black;
	border-radius: 7px;
	height: 50vh;
	width: 40vw;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: lightyellow;
	margin-top: -140px;
}

h1 {
	margin: 10px;
	padding: 10px;
}

#main-input {
	width: 15rem;
	padding: 5px;
	margin: 5px;
	border: 2px black solid;
	outline: none;
}
#button {
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	width: 100px;
	border: 2px black solid;
	border-radius: 5px;
}

button:hover {
	background-color: mediumseagreen;
}

.main-list {
	display: flex;
	flex-direction: row;
	place-items: center;
}

ul {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 10px;
}

input {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 10px;
}
