* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

#main {
	display: grid;
	place-items: center;
	height: 100vh;
	background-image: url(images/pexels-photo-167699.jpeg);
	background-position: center center;
	background-size: 100% 100%;
}

.main-header {
	border: 2px black solid;
	position: absolute;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-color: rgba(173, 216, 230, 0.747);
}

.header {
	font-size: 22px;
	text-align: center;
	border: 10px;
	margin: 50px 10px 10px 10px;
}

.root {
	display: flex;
	flex-direction: column;
	text-align: left;
	border: 2px black solid;
	padding: 10px;
	margin: 10px;
	background-color: rgba(173, 216, 230, 0.747);
	height: 60vh;
	width: 30vw;
	border-radius: 10px;
}

.form-input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#zip-text {
	font-weight: bold;
	font-size: 18px;
}

#zip-input {
	border: darkblue 2px solid;
	outline: none;
	border-radius: 3px;
	padding: 5px;
	margin: 20px 10px 10px 10px;
}

#submit-button {
	width: 100px;
	height: 30px;
	padding: 5px;
	margin: 10px 10px 10px 10px;
	border: darkblue 2px solid;
	border-radius: 5px;
	font-weight: bolder;
}

#submit-button:hover {
	cursor: pointer;
	background-color: #f4f4f4;
	color: darkblue;
}
.weather {
	list-style: none;
	margin: 20px 10px 10px 10px;
}

.weather li {
	margin: 3px;
	font-weight: bolder;
}
