* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

#main {
	display: grid;
	place-items: center;
	height: 100vh;
	background-image: url(images/pexels-photo-167699.jpeg);
	background-position: center center;
	background-size: 100% 100%;
}

.main-header {
	border: 2px black solid;
	position: absolute;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-color: lightblue;
}

.header {
	font-size: 22px;
	text-align: center;
	border: 10px;
	margin: 10px;
}

.root {
	display: flex;
	flex-direction: column;
	text-align: left;
	border: 2px black solid;
	padding: 10px;
	margin: 10px;
	background-color: lightblue;
}

.form-input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#zip-input {
	border: black 2px solid;
	outline: none;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
}

#submit-button {
	width: 100px;
	height: 30px;
	padding: 5px;
	margin: 5px;
}

#submit-button:hover {
	cursor: pointer;
	background-color: #f4f4f4;
	color: darkblue;
}
.weather {
	list-style: none;
}
