* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10vh;
	background-color: #f4f4f4;
}

.formContainer {
	position: absolute;
	border: 2px solid black;
	margin-top: 30vh;
	padding: 30px;
	border-radius: 5px;
	background-color: skyblue;
}

.secondary {
	position: absolute;
	border: 2px solid black;
	margin-top: 80vh;
	padding: 30px;
	border-radius: 5px;
}
.tipHistory {
	list-style: none;
}

h2 {
	align-items: center;
}
