* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f4f4f4;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formContainer {
	border: 2px solid black;
	margin: 50px;
	padding: 30px;
	border-radius: 5px;
	background-color: skyblue;
	height: 250px;
	width: 450px;
	text-align: center;
}

.secondary {
	justify-content: center;
	width: 300px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 30px;
	margin: 50px;
	background-color: skyblue;
	text-align: center;
}
.tipHistory {
	list-style: none;
	align-items: center;
}

.costOfMeal {
	padding: 5px;
	margin: 5px;
	outline: none;
}

.tip {
	padding: 5px;
	margin: 5px;
	outline: none;
}

.button {
	padding: 5px;
	margin: 10px;
	text-align: center;
	cursor: pointer;
}
