<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TO DO</title>
	</head>
	<body>
		<h1>Task</h1>
		<dl>
			${todos.map(todo => `
			<p>Task</p>
			<p>${todo.task}</p>
			<p>Priority</p>
			<p>${todo.priority}</p>
			<div class="button-container">
				<a href="/update" method="PUT"
				  ><button type="submit">Update</button></a
				>
				<form action="/delete" method="DELETE">
				  <input type="hidden" name="todo_id" value="${todos.todo_id}" />
				  <button type="submit">Delete</button></div>
				</form>
			  </div>
			` ).join("")}
		</dl>
	</body>
	<script>
		const sendTodo = async (e) => {
			const combinedData = {
				task:taskClass,
				priority:priorityClass,
			}
			const sendTheData = await fetch("http://localhost:3003/todolist", 
			{
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body:  JSON.stringify(combinedData)
			})
			}
		</script>
</html>
