.card-container {
	display: flex;
	justify-content: center;
	place-content: space-around;
	flex-wrap: wrap;
}
.pokemon-card {
	background-color: #e7f2f8;
	height: 220px;
	width: 12rem;
	margin: 1rem;
}
.pokemon-card button {
	border-radius: 10px;
	height: 40px;
	width: 50%;
}

.card-input {
	outline: none;
	margin: 5px;
}
