* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Nav Bar */
.main-nav {
	background-color: #f4f4f4;
	font-size: 15px;
	align-items: center;
}

.nav1 {
	display: flex;
	float: left;
	padding: 15px;
	margin: 8px;
	align-items: center;
}

.nav2 {
	display: flex;
	float: right;
	padding: 15px;
	margin: 8px;
	align-items: center;
}

.nav1 a,
.nav2 a,
.nav2 img {
	text-decoration: none;
	color: black;
	margin: 0 10px;
}

.prof-pic {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	cursor: pointer;
}

.dots {
	height: 18px;
	width: 18px;
	cursor: pointer;
}

/* Main Container */
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 94.5vh;
	padding-top: 200px;
}

.google-pic {
	width: 272.92px;
	height: 92px;
}

.search-area {
	display: flex;
	flex-direction: row;
	outline: none;
	display: flex;
	width: 600px;
	height: 45px;
	margin: 15px;
	border-radius: 20px;
	border: 0.5px lightgrey solid;
	background-color: transparent;
	align-items: center;
}

.search-area img {
	height: 18px;
	width: 18px;
	margin: 6px 10px;
	cursor: pointer;
	opacity: 50%;
}

.search-input {
	outline: none;
	flex: 1;
	border: none;
	background-color: transparent;
}

.btn {
	font-size: 14px;
	border-radius: 4px;
	margin: 11px 4px;
	padding: 0 16px;
	min-width: 54px;
	height: 36px;
	line-height: 27px;
	text-align: center;
	border: none;
	background-color: #f8f9fa;
	cursor: pointer;
	border: 2px solid #f8f9fa;
	overflow: hidden;
}

.btn:hover {
	border: 2px solid #e5e5e6c5;
}

/* Footer  */
.main-footer {
	background-color: #f4f4f4;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer1,
.footer2,
.footer3 {
	padding: 15px;
	margin: 0px;
}

.footer2 img {
	height: 14px;
}

.footer1 a,
.footer2 a,
.footer3 a {
	text-decoration: none;
	color: #70757a;
	margin: 0 10px;
	font-size: 14px;
}
