* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f4f4f4;
	font-family: fantasy;
}

h1,
button {
	padding: 10px;
	margin: 20px;
}

.main-container {
	padding: 20px;
	margin: 20px;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #f4f4f4;
}

.pokemon {
	text-align: center;
	background-color: #f4f4f4;
}

img,
h3 {
	background-color: rgb(117, 112, 192);
	color: white;
}
