.form {
	display: flex;
	flex-direction: column;
}
h1 {
	color: royalblue;
}

#email-input,
#name-input,
#password-input,
#movie-input {
	height: 40px;
	font-size: 25px;
	width: 450px;
	margin: 5px;
	outline: none;
}

.button {
	width: 100px;
	height: 40px;
	margin-top: 10px;
	font-size: 16px;
	cursor: pointer;
}
