* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: fantasy;
}

body {
	background-color: rgba(80, 139, 139, 0.342);
	background-size: 100%;
	width: 100%;
}

.heading {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 22px;
	font-weight: bolder;
	background-color: #192373ad;
	color: #f4f4f4;
}
.heading-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	float: left;
	width: 100%;
	background-color: #192373ad;
	border-bottom: 2px rgba(0, 0, 0, 0.37) solid;
	color: #f4f4f4;
	padding-bottom: 20px;
}

.main {
	padding: 2px 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

h1,
button {
	padding: 10px;
	margin: 10px 20px 10px 20px;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.person,
.animal {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 20px 10px 20px;
	background-color: #192373;
	color: #f4f4f4;
	border: 2px white solid;
	border-radius: 3px;
	height: 370px;
	width: 174px;
	flex-wrap: wrap;
	overflow: auto;
}

.person img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 1px;
	border-bottom: #f4f4f4 solid 2px;
}

.animal img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-radius: 1px;
	border-bottom: #f4f4f4 solid 2px;
	overflow: hidden;
}

h3 {
	align-items: center;
	text-align: center;
}

button {
	height: 40px;
	width: 100px;
	font-size: 15px;
	background-color: #f4f4f4;
	outline: none;
}

button:hover {
	cursor: pointer;
	background-color: #192373ad;
	color: #f4f4f4;
	border: 1px #f4f4f4 solid;
}

.person-name {
	margin: 12px 0px 12px 0px;
	font-weight: bold;
}

.animal-name {
	margin-top: 16px;
}
